<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let user of users">
      <div class="button-area" (click)="selectUser(user)">{{user}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 autocomplete-div">
      <p-autoComplete [(ngModel)]="query" [suggestions]="querySuggestions" (onSelect)="search(query)" (completeMethod)="completeQuery($event)" [multiple]="false" field="query"></p-autoComplete>
    </div>
  </div>
  <div *ngFor="let article of articles">
    <sz-article [article]="article"></sz-article>
  </div>
</div>
