// colors
$clr-theme: #edeff0;
$clr-theme-2: #edeff0;
$clr-theme-3: #edeff0;
$clr-theme-4: #edeff0;
$clr-dark--main: #1E1F2B;
$clr-light--main: #FFFFFF;

// sizes
$size-text: 1em;
$size-heading: 1.8em;
